* {
  all: unset;
  font-size: 20px;
  background-color: rgba(11,10,15,1);
}

.workspace-entry {
  color: rgb(255,255,255);
  padding: 0px 5px;
}

.workspace-separator {
  padding: 0px 10px;
}


.workspace-active {
  color: rgb(255,255,255);
}

.workspace-inactive {
  color: rgb(100,100,100);
}
