* {
  all: unset;
  font-size: 20px;
  font-family: "JetBrains Mono Nerd Font";
}

.hyprbar {
  background-color: rgba(11,10,15,1);
}

.workspace-separator {
  padding: 0px 4px;
}

.workspace-entry {
  color: rgb(255,255,255);
  min-width: 20px;
  padding: 0px 2px;

  &.active {
    color: rgb(255,255,255);
  }
  &.inactive {
    color: rgb(100,100,100);
  }
}
