[Unit]
Description=Hyprpaper reloader
After=graphical-session.target

[Service]
Type=oneshot
KillMode=process
ExecStart=/home/agyt/.dotfiles/l/modules/hyprpaper/hyprpaper/hyprpaper-reloader.sh
ExecStop=/usr/bin/killall hyprpaper-reloader
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
