* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font";
  font-family: "Electroharmonix";
  font-size: 20px;
}

.hyprbar {
  background-color: rgba(11,10,15,1);
  border-radius: 7px;
}

.separator-line {
  color: rgb(100,100,100);
  font-size: 18;
  padding: 0px 4px;
}

.menu {
  padding-left: 4px;
}

.workspace-entry {
  padding: 0px 5px;
  opacity: 0.5;

  &.active {
    opacity: .9;
  }
}

.battery {
  color: rgb(225,225,225);
}

.clock {
  color: rgb(225,225,225);
}

.date {
  color: rgb(225,225,225);
  padding-right: 8px;
}
