[Unit]
Description=Audio Manager
After=network.target sound.target

[Service]
Type=oneshot
KillMode=process
ExecStart=/home/agyt/.dotfiles/LMD/modules/audio-manager/audio-manager.sh
ExecStop=/usr/bin/killall audio-manager
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
