* {
  all: unset;
}

window {
  margin: 0px;
  border: 5px solid rgba(5,5,5,0.35);
  background-color: rgba(5,5,5,0.35);
  border-radius: 15px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #e2e0ec;
  font-weight: bold;
  background-color: rgba(5,5,5,0.35);
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: none;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
}

#text {
  color: #555555;
  margin: 5px;
}

#text:selected {
  color: #888888;
  border: none;
  border-radius: 15px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
background: linear-gradient(90deg, rgba(8,8,8,0.5) 0%, rgba(22,22,22,0.5) 100%);
}
